.subject {
	display: flex block;
	.requirement{
		padding: 10px 20px;
		border: 1px solid orange;
		text-align: left;
		.example {
			display: flex;
			div {
				margin-left: 30px;
			} 
		}
	}
	.sourceCode{
		margin-top: 20px;
		padding: 20px;
		background-color: #707070;
		color: white;
		text-align: left;
		.source-link{
			color: #61dafb;
		}
	}
}